body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin: 0;
}

input[type=file] {
  display: none;
}

#uploadbtn {
  background: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: hsl(120, 100, 0);
  border: 1px solid #000;
  border-radius: 0.5rem;
}

#canvasImg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  z-index: 1;
  margin-bottom: 1rem;
}

#canvasDraw {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
}

.marginblock {
  padding: 10rem;
}